<h1><%= @query %>:</h1>
<div class="recommendations-container">
  <% if @recommendations.any? %>
    <ul>
      <% @recommendations.each do |item| %>
        <li>
          <% if item["wUrl"] && !item["wUrl"].empty? %>
            <strong>
              <a href="<%= item["wUrl"] %>" target="_blank" rel="noopener noreferrer"><%= item["name"] %></a>
            </strong><br>
          <% else %>
            <strong><%= item["name"] %></strong><br>
          <% end %>

        <% if item["yUrl"] && !item["yUrl"].empty? %>
          <div style="margin-top: 5px;">
            <a href="<%= item["yUrl"] %>" target="_blank" rel="noopener noreferrer">Listen on YouTube</a>
          </div>
        <% end %>
        </li>
        <br>
      <% end %>
    </ul>
  <% else %>
    <p>No similar music found for '<%= @query %>'.</p>
  <% end %>
  </div>
  <div class="search-again-container">
  <a href="/">Search again</a>
  </div>
